{{ partial "headstart.html" . }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/releases.css">
<style>
.buybutton {
	float:left;
	margin-right: 5px;
	height: 45px;
}
.streambutton {
	float:left;
	margin-right: 5px;
	height: 45px;
}
#relatedreleases {
	clear: both;
}
</style>
{{ partial "headend.html" . }}
{{ $baseurl := .Site.BaseURL }}
<div id="albumheader">
	<div id="albumimage">
		<img onload="getImgSrc(this, '{{ $baseurl }}/img/{{ .Params.catalogid }}-large.{{ .Params.coverextension }}', '{{ $baseurl }}/img/{{ .Params.catalogid }}-large@2X.{{ .Params.coverextension }}')" width="300" height="300" />
	</div>
	<div id="albuminfo">
		{{ if isset .Params "artistname" }}<div id="artistname"><a href="{{ $baseurl }}/artists/{{ .Params.artistdirectory }}">{{ .Params.artistname }}</a></div>{{ end }}
		<div id="albumname">{{ .Params.releasename }}</div>
		<div id="releaseyear">{{ .Params.releaseyear }}</div>
		<div id="tracklist">
			<div id="tracktitle">Tracks</div>
			<ul>
			{{ if isset .Params "compilationtracklist" }}
			{{ range .Params.compilationtracklist }}
			<li><span class="compartist">{{ if isset . "artisturl" }}<a href="{{ $baseurl }}/artists/{{ .artisturl }}">{{ .artist }}</a>{{ else }}{{ .artist }}{{ end }}</span> - {{ .title }}</li>
			{{ end }}
			{{ else }}
			{{ range .Params.tracklist }}<li>{{ . }}</li>{{ end }}
			{{ end }}
			</ul>
		</div>
	</div>
	<div style="clear:both; padding-bottom: .5em"></div>
</div>
<div id="details">{{ .Content }}</div>
{{ if or (isset .Params "storelinks") (isset .Params "streamlinks") }}
<div id="storesection">
<div class="sectiontitle">Available from:</div>
{{ range .Params.storelinks }}
<div class="buybutton">
{{ if eq .store "cdbaby" }}
<div style='width:125px; height:40px; margin:0; padding:0; border:0; background-image:url(http://www.cdbaby.com/Images/Links/linkmkr_btn6_buyalbum.png);'><a href='{{ .url }}' style='display:block; width:125px; height:40px; margin:0; border:0; background-color:transparent;'></a></div>
{{ else if eq .store "amazon" }}
<a href="{{ .url }}"><img onload="getImgSrc(this, '../../img/amazon.png','../../img/amazon@2X.png')" width="89" height="40" alt="{{ .store }}" /></a>
{{ else if eq .store "amazonmp3" }}
<a href="{{ .url }}"><img onload="getImgSrc(this, '../../img/amazonmp3.png','../../img/amazonmp3@2X.png')" width="125" height="40" alt="{{ .store }}" /></a>
{{ else if eq .store "itunes" }}
<a href="{{ .url }}" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.png) no-repeat;width:110px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.svg);}"></a>
{{ else }}
<a href="{{ .url }}">{{ .store }}</a>
{{ end }}
</div>
{{ end }}
<div>
{{ range .Params.streamlinks }}
<div class="streambutton">
{{ if eq .service "spotify" }}
<a href="{{ .url }}"><img onload="getImgSrc(this, '../../img/spotify.png','../../img/spotify@2X.png')" width="175" height="40" alt="{{ .service }}" /></a>
{{ else if eq .service "rdio" }}
<a href="{{ .url }}"><img onload="getImgSrc(this, '../../img/rdio.png','../../img/rdio@2X.png')" width="116" height="40" alt="{{ .service }}" /></a>
{{ else if eq .service "deezer" }}
<a href="{{ .url }}"><img onload="getImgSrc(this, '../../img/deezer.png','../../img/deezer@2X.png')" width="116" height="40" alt="{{ .service }}" /></a>
{{ else }}
<a href="{{ .url }}">{{ .service }}</a>
{{ end }}
</div>
{{ end }}
</div>
</div>
{{ end }}
{{ if isset .Params "relatedreleases" }}
<div id="relatedreleases">
<div class="sectiontitle">Related Releases:</div>
{{ range .Params.relatedreleases }}
	<div class="relatedcover"><a href="../{{ .catalogid }}/">
{{ if isset . "coverextension" }}
		<img onload="getImgSrc(this, '../../img/{{ .catalogid }}-small.{{ .coverextension }}', '../../img/{{ .catalogid }}-small@2X.{{ .coverextension }}')" width="150" height="150" />
{{else}}
		<img onload="getImgSrc(this, '../../img/{{ .catalogid }}-small.jpg', '../../img/{{ .catalogid }}-small@2X.jpg')" width="150" height="150" />
{{end}}
	</a></div>
{{ end }}
</div>
{{ end }}
{{ if isset .Params "reviews" }}
<div id="reviews">
<div class="sectiontitle">Reviews</div>
<div id="reviewlinks">
	{{ if gt (len .Params.reviews) 3 }}
	{{ range index .Params "reviews" }}
		[<a href="#{{ .id }}">{{ .reviewer }}</a>]
	{{ end }}
	{{ end }}
</div>
	<dl>
	{{ range index .Params "reviews" }}
	<dt id="{{ .id }}">{{ if isset . "url" }}<a href="{{ .url }}">{{ .reviewer }}</a>{{ else }}{{ .reviewer }}{{ end }}{{ if isset . "issue" }} - {{ .issue }}{{ end }}</dt>
	<dd>{{ .review | safeHTML }}{{ if isset . "author" }} - {{ .author }}{{ end }}</dd>
	{{ end }}
</dl>
</div>
{{ end }}

{{ partial "footer.html" . }}