{{ partial "headstart.html" . }}
<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/releases.css">
{{ partial "headend.html" . }}
<div id="albumheader">
	<div id="albumimage">
		<img onload="getImgSrc(this, '../../img/{{ .Params.catalogid }}-large.{{ .Params.coverextension }}', '../../img/{{ .Params.catalogid }}-large@2X.{{ .Params.coverextension }}')" width="300" height="300" />
	</div>
	<div id="albuminfo">
		{{ if isset .Params "artistname" }}<div id="artistname"><a href="../../artists/{{ .Params.artistdirectory }}">{{ .Params.artistname }}</a></div>{{ end }}
		<div id="albumname">{{ .Params.releasename }}</div>
		<div id="releaseyear">{{ .Params.releaseyear }}</div>
		<div id="tracklist">
			<div id="tracktitle">Tracks</div>
			<ul>
			{{ if isset .Params "compilationtracklist" }}
			{{ range .Params.compilationtracklist }}
			<li><span class="compartist">{{ if isset . "artisturl" }}<a href="../../artists/{{ .artisturl }}">{{ .artist }}</a>{{ else }}{{ .artist }}{{ end }}</span> - {{ .title }}</li>
			{{ end }}
			{{ else }}
			{{ range .Params.tracklist }}<li>{{ . }}</li>{{ end }}
			{{ end }}
			</ul>
		</div>
	</div>
	<div style="clear:both; padding-bottom: .5em"></div>
</div>
<div id="details">{{ .Content }}</div>
{{ if or (isset .Params "storelinks") (isset .Params "streamlinks") }}
<div id="storesection">
<div class="sectiontitle">Available from:</div>
{{ range .Params.storelinks }}<a href="{{ .url }}">{{ .store }}</a> {{ end }}
{{ range .Params.streamlinks }}<a href="{{ .url }}">{{ .service }}</a> {{ end }}
</div>
{{ end }}
{{ if isset .Params "reviews" }}
<div id="reviews">
<div class="sectiontitle">Reviews</div>
<div id="reviewlinks">
	{{ if gt (len .Params.reviews) 3 }}
	{{ range index .Params "reviews" }}
		[<a href="#{{ .id }}">{{ .reviewer }}</a>]
	{{ end }}
	{{ end }}
</div>
	<dl>
	{{ range index .Params "reviews" }}
	<dt id="{{ .id }}">{{ if isset . "url" }}<a href="{{ .url }}">{{ .reviewer }}</a>{{ else }}{{ .reviewer }}{{ end }}{{ if isset . "issue" }} - {{ .issue }}{{ end }}</dt>
	<dd>{{ .review | safeHtml }}{{ if isset . "author" }} - {{ .author }}{{ end }}</dd>
	{{ end }}
</dl>
</div>
{{ end }}

{{ partial "footer.html" . }}