{{ partial "header.html" . }}

<!--- FIX: ARTIST URL ---->
<h1><a href="../../artists/{{ .Params.artistdirectory }}">{{ .Params.artistname }}</a> - {{ .Params.releasename }}</h1>
Released: {{ .Params.releaseyear }}<br />
<img onload="getImgSrc(this, '/img/{{ .Params.catalogid }}-large.jpg', '/img/{{ .Params.catalogid }}-large@2X.jpg')" width="400" height="400" />
{{ .Content }}

{{ if or (isset .Params "storelinks") (isset .Params "streamlinks") }}
<h2>Available from:</h2>
{{ range .Params.storelinks }}<a href="{{ .url }}">{{ .store }}</a> {{ end }}
{{ range .Params.streamlinks }}<a href="{{ .url }}">{{ .service }}</a> {{ end }}
{{ end }}

<h2>Tracks</h2>
<ul>
{{ range .Params.tracklist }}<li>{{ . }}</li>{{ end }}
</ul>

{{ if isset .Params "reviews" }}
	<h1>Reviews</h1>
	{{ range index .Params "reviews" }}
		[ <a href="#{{ .id }}">{{ .reviewer }}</a> ]
	{{ end }}
	<dl>
	{{ range index .Params "reviews" }}
	<dt id="{{ .id }}">{{ if isset . "url" }}<a href="{{ .url }}">{{ .reviewer }}</a>{{ else }}{{ .reviewer }}{{ end }}{{ if isset . "issue" }} - {{ .issue }}{{ end }}</dt>
	<dd>{{ .review | safeHtml }}{{ if isset . "author" }} - {{ .author }}{{ end }}</dd>
	{{ end }}
</dl>
{{ end }}

{{ partial "footer.html" . }}