{{ partial "headstart.html" . }}
<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<style type="text/css">
#artistlist {
	clear: both;
	padding-top: 20px;
}
#releaselist {
	padding-top: 1.5em;
	clear: both;
}
#other {
	clear: both;
}
#newsheader {
	margin-left: 5px;
	margin-right: 5px;
	border-style: solid;
	border-color: black;
	border-width: 0 0 2px 0;
	height: 260px;
}
#newsheader #l-st #intalbum {
	float: left;
	padding-right: .5em;
}
#newsheader #years {
	background-image: url("img/SonicFutureNow.png");
	width: 100%;
	height: 225px;
	visibility: hidden;
}
#newsheader #years #text {
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
	font-family: "Verdana", sans-serif;
	text-shadow: 2px 2px 2px #555;
}
#labelmission {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
#labelnews {
	margin-left: 0.5em;
	margin-top: 0.8em;
	margin-right: 0.5em;
}
/* override slider margin from included file */
.slick-slider {
margin-bottom: 20px;
}

/*
 * Phone Portrait
 */
@media (max-device-width: 320px), (max-device-width: 375px), (max-device-width: 414px) {
	html {
		max-width: 100%;
	}

	#newsheader {
		visibility:hidden;
		height: 0px;
	}
}
</style>
{{ partial "headend.html" . }}
<div id="labelmission">Unit Circle Rekkids has been a labor of love since 1991. Dedicated to showcasing unconventional music, unusual music, challenging music, but also beautiful music. Unit circle helped launch artists like Bill Horist, Bethany Curve, Intonarumori and SubArachnoid Space. While there was a break from releasing new albums for a while, we continued to support our existing roster and catalog. We are now beginning to once again release new music, and we continue to appreciate the support of the fans who have supported us in our mission over the last 30 years.</div>
<div id="labelnews">In 2022, we plan to have new releases from <a href="artists/Intonarumori/">Intonarumori</a> and <a href="artists/AnswersToApril/">Answers to April</a>.</div>
<div id="artistlist">
<div class="sectiontitle">Artists</div>
{{ range where .Site.Pages.ByTitle "Section" "artists" }}
{{ if .Params.image -}}
<div class="artistlistitem">
	<a href="{{ .Permalink }}"><div class="artistimage"><img onload="getImgSrc(this, 'img/{{ .Params.image }}-Square.jpg', 'img/{{ .Params.image }}-Square@2X.jpg')" /></div>
	<div class="artistname">{{ .Params.artistname }}</div></a>
</div>
{{- end }}
{{ end }}
</div>

<div id="releaselist">
<div class="sectiontitle">Releases</div>
{{ range where .Site.Pages.ByDate.Reverse "Section" "releases" }}
{{ if .Params.catalogid -}}
<div class="releaselistitem" id="{{ .Params.catalogid }}">
	<a href="{{ .Permalink }}"><div class="releaseimage"><img onload="getImgSrc(this, 'img/{{ .Params.catalogid }}-small.{{ .Params.coverextension }}', 'img/{{ .Params.catalogid }}-small@2X.{{ .Params.coverextension }}')" /></div>
	<div class="releasename"><div class="releaseartist">{{ .Params.artistname }}</div><div class="albumname">{{ .Params.releasename }}</div></div></a>
</div>
{{- end }}
{{ end }}
</div>
	
{{ partial "footstart.html" . }}
<script type="text/javascript" src="js/vendor/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
		var iphone4 = (window.screen.height == (960 / 2));
		var iphone5 = (window.screen.height == (1136 / 2));
		var iphone6 = (window.screen.height == (1334 / 2));
		if ( !iphone4 && !iphone5 && !iphone6 )
		{
	        $('.scroller').slick({
	            autoplay: true,
	            autoplaySpeed: 4000
	        });
	        $('#newsheader #years').css("visibility", "visible")
	    }
    });
</script>
{{ partial "footend.html" . }}