</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TWD11R7XQW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TWD11R7XQW');
</script>
<body>
{{ $baseurl := .Site.BaseURL }}

{{ "<!--[if lt IE 7]>" | safeHTML }}
{{ "<p class=\"browsehappy\">You are using an <strong>outdated</strong> browser. Please <a href=\"https://browsehappy.com/\">upgrade your browser</a> to improve your experience.</p>" | safeHTML }}
{{ "<![endif]--> " | safeHTML }}
<div id="nav">
	<img id="logo" onload="getImgSrc(this, '{{ $baseurl }}/img/uclogo.png', '{{ $baseurl }}/img/uclogo@2X.png')" width="50" height="50" />
	<ul class="menu">
		<li><a href="{{ $baseurl }}">Home</a></li>
		<li><a href="{{ $baseurl }}/releases/">Releases</a></li>
		<li><a href="{{ $baseurl }}/artists/">Artists</a></li>
		<li><a href="{{ $baseurl }}/about/">About</a></li>
	</ul>
	<div id="socialmedia"><a class="webicon twitter small" href="https://www.twitter.com/unitcircle/">Twitter</a> <a class="webicon facebook small" href="https://www.facebook.com/UnitCircle">Facebook</a></div>
</div>
<div id="body" class="clearfix">