<!DOCTYPE html>
{{ "<!--[if lt IE 7]>      <html class=\"no-js lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->" | safeHtml }}
{{ "<!--[if IE 7]>         <html class=\"no-js lt-ie9 lt-ie8\"> <![endif]-->" | safeHtml }}
{{ "<!--[if IE 8]>         <html class=\"no-js lt-ie9\"> <![endif]-->" | safeHtml }}
{{ "<!--[if gt IE 8]><!--> <html class=\"no-js\"> <!--<![endif]-->" | safeHtml }}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- FAVICON -->
	<!-- Desktop Browsers -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseUrl }}/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="{{ .Site.BaseUrl }}/favicon.ico" />

	<!-- Android: Chrome M39 and up-->
	<link rel="manifest" href="{{ .Site.BaseUrl }}/manifest.json">
	<!-- Android: Chrome M31 and up, ignored if manifest is present-->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="{{ .Site.BaseUrl }}/img/icon-192x192.png">
	<!-- iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="{{ .Title }}">

	<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseUrl }}/img/apple-touch-icon-180x180-precomposed.png">
	<link href="{{ .Site.BaseUrl }}/img/apple-touch-icon-152x152-precomposed.png" sizes="152x152" rel="apple-touch-icon">
	<link href="{{ .Site.BaseUrl }}/img/apple-touch-icon-144x144-precomposed.png" sizes="144x144" rel="apple-touch-icon">
	<link href="{{ .Site.BaseUrl }}/img/apple-touch-icon-120x120-precomposed.png" sizes="120x120" rel="apple-touch-icon">
	<link href="{{ .Site.BaseUrl }}/img/apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon">
	<link href="{{ .Site.BaseUrl }}/img/apple-touch-icon-76x76-precomposed.png" sizes="76x76" rel="apple-touch-icon">
	<link href="{{ .Site.BaseUrl }}/img/apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon">
	<link href="{{ .Site.BaseUrl }}/img/apple-touch-icon-60x60-precomposed.png" sizes="60x60" rel="apple-touch-icon">
	<link href="{{ .Site.BaseUrl }}/img/apple-touch-icon-57x57-precomposed.png" sizes="57x57" rel="apple-touch-icon">
	<link href="{{ .Site.BaseUrl }}/img/apple-touch-icon-precomposed.png" rel="apple-touch-icon">

	<!-- Windows 8 and IE 11 -->
	<meta name="msapplication-config" content="{{ .Site.BaseUrl }}/browserconfig.xml" />

	<!-- Windows -->
	<meta name="application-name" content="{{ .Title }}" />
	<meta name="msapplication-tooltip" content="Get the latest updates!" />
	<meta name="msapplication-window" content="width=1024;height=768" />
	<meta name="msapplication-navbutton-color" content="#FF3300" />
	<meta name="msapplication-starturl" content="./" />

    {{ if eq .Section "releases" }}
    <!-- Facebook Open Graph tags -->
    <meta property="og:title" content="{{ .Params.releasename }}"/>
    <meta property="og:type" content="music.album"/>
    <meta property="og:url" content="{{ .Permalink }}"/>
    <!-- FIX: put album image URL here -->
    <!-- <meta property="og:image" content="http://www.kevingoldsmith.com/img/me-camera@2x.jpg"/> -->
    <meta property="og:site_name" content="Unit Circle Rekkids"/>
    <meta property="fb:app_id" content="1424023427843179"/>
    <meta property="og:description" content="{{ .Description }}"/>

    <!-- Twtter Card tags -->
    <meta name="twitter:card" content="product"/>
    <meta name="twitter:site" content="@unitcircle"/>
    <meta name="twitter:creator" content="@unitcircle"/>
    <meta name="twitter:title" content="{{ .Params.releasename }}"/>
    <meta name="twitter:description" content="{{ .Description }}"/>
    <!-- FIX: put album image URL here -->
    <!--<meta name="twitter:image" content="http://www.kevingoldsmith.com/img/me-camera@2x.jpg"/>-->
    <meta name="twitter:domain" content="unitcircle.com"/>
    <meta name="twitter:url" content="{{ .Permalink }}">
    {{ else if eq .Section "artists" }}
    <!-- Facebook Open Graph tags -->
    <meta property="og:title" content="{{ .Params.artistname }}"/>
    <meta property="og:type" content="profile"/>
    <meta property="og:url" content="{{ .Permalink }}"/>
    <!-- FIX: put artist image URL here -->
    <!-- <meta property="og:image" content="http://www.kevingoldsmith.com/img/me-camera@2x.jpg"/> -->
    <meta property="og:site_name" content="Unit Circle Rekkids"/>
    <meta property="fb:app_id" content="1424023427843179"/>
    <meta property="og:description" content="{{ .Description }}"/>

    <!-- Twtter Card tags -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@unitcircle"/>
    <meta name="twitter:creator" content="@unitcircle"/>
    <meta name="twitter:title" content="{{ .Params.artistname }}"/>
    <meta name="twitter:description" content="{{ .Description }}"/>
    <!-- FIX: put album image URL here -->
    <!--<meta name="twitter:image" content="http://www.kevingoldsmith.com/img/me-camera@2x.jpg"/>-->
    <meta name="twitter:domain" content="www.unitcircle.com"/>
    <meta name="twitter:url" content="{{ .Permalink }}">
 {{ end }}

	<title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <meta name="author" content="Unit Circle Media">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/normalize.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/main.css">
    <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/webicons.css">
    <script src="{{ .Site.BaseUrl }}/js/vendor/modernizr-2.6.2.min.js"></script>
