{{ partial "headstart.html" . }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/artists.css">
{{ partial "headend.html" . }}
{{ $baseurl := .Site.BaseURL }}
<div id="artist-header">
	<!-- FIX: fix path -->
	<img id="artist-image" onload="getImgSrc(this, '{{ $baseurl }}/img/{{ .Params.image }}.jpg', '{{ $baseurl }}/img/{{ .Params.image }}@2X.jpg')" />
	<h1>{{ .Params.artistname }}</h1>
</div>
<div id="artist-releases">
{{ if isset .Params "albums" }}
<div class="release-section-title">RELEASES</div>
{{ range index .Params "albums" }}
{{ if isset . "extension" }}
<div class="releaseimage"><a href="{{ $baseurl }}/releases/{{ .catalogid }}"><img onload="getImgSrc(this, '{{ $baseurl }}/img/{{ .catalogid }}-small.{{ .extension }}', '{{ $baseurl }}/img/{{ .catalogid }}-small@2X.{{ .extension }}')" /></a></div>
{{ else }}
<div class="releaseimage"><a href="{{ $baseurl }}/releases/{{ .catalogid }}"><img onload="getImgSrc(this, '{{ $baseurl }}/img/{{ .catalogid }}-small.jpg', '{{ $baseurl }}/img/{{ .catalogid }}-small@2X.jpg')" /></a></div>
{{ end }}
{{ end }}
{{ end }}

{{ if isset .Params "compilations" }}
<div class="release-section-title">COMPILATIONS</div>
{{ range index .Params "compilations" }}
{{ if isset . "extension" }}
<div class="releaseimage"><a href="{{ $baseurl }}/releases/{{ .catalogid }}"><img onload="getImgSrc(this, '{{ $baseurl }}/img/{{ .catalogid }}-small.{{ .extension }}', '{{ $baseurl }}/img/{{ .catalogid }}-small@2X.{{ .extension }}')" /></a></div>
{{ else }}
<div class="releaseimage"><a href="{{ $baseurl }}/releases/{{ .catalogid }}"><img onload="getImgSrc(this, '{{ $baseurl }}/img/{{ .catalogid }}-small.jpg', '{{ $baseurl }}/img/{{ .catalogid }}-small@2X.jpg')" /></a></div>
{{ end }}
{{ end }}
{{ end }}
</div>
<div id="artist-content">
	<!-- FIX: fix path -->
	<div id="artist-content-header">
		<img id="artist-image" onload="getImgSrc(this, '{{ $baseurl }}/img/{{ .Params.image }}.jpg', '{{ $baseurl }}/img/{{ .Params.image }}@2X.jpg')" />
		<h1>{{ .Params.artistname }}</h1>
	</div>

{{ .Content }}

		{{ if isset .Params "artistlinks" }}
			<div class="sectiontitle">Links</div>
			{{ range .Params.artistlinks }}
				<a href="{{ .url }}">{{ .name }}</a> 
			{{ end }}
		{{ end }}
</div>

{{ partial "footer.html" . }}