{{ partial "headstart.html" . }}
<style>
.releaseimage {
	padding-bottom: 5px;
}
</style>
{{ partial "headend.html" . }}
<div id="artist-releases">
{{ if isset .Params "albums" }}
<div>RELEASES</div>
{{ range index .Params "albums" }}
{{ if isset . "extension" }}
<div class="releaseimage"><a href="{{ .Site.BaseURL }}/releases/{{ .catalogid }}"><img onload="getImgSrc(this, '{{ .Site.BaseURL }}/img/{{ .catalogid }}-small.{{ .extension }}', '{{ .Site.BaseURL }}/img/{{ .catalogid }}-small@2X.{{ .extension }}')" width="150" height="150" /></a></div>
{{ else }}
<div class="releaseimage"><a href="{{ .Site.BaseURL }}/releases/{{ .catalogid }}"><img onload="getImgSrc(this, '{{ .Site.BaseURL }}/img/{{ .catalogid }}-small.jpg', '{{ .Site.BaseURL }}/img/{{ .catalogid }}-small@2X.jpg')" width="150" height="150" /></a></div>
{{ end }}
{{ end }}
{{ end }}
</div>
<div id="artist-content">
<!-- FIX: fix path -->
<img onload="getImgSrc(this, '../../img/{{ .Params.image }}.jpg', '../../img/{{ .Params.image }}@2X.jpg')" width="400" height="200" />
<h1>{{ .Params.artistname }}</h1>
{{ .Content }}

		{{ if isset .Params "artistlinks" }}
			<div class="sectiontitle">Links</div>
			{{ range .Params.artistlinks }}
				<a href="{{ .url }}">{{ .name }}</a> 
			{{ end }}
		{{ end }}
</div>

{{ partial "footer.html" . }}